*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}
a
{
    text-decoration: none;
    outline: none;
    color: #ffffff;
    outline: none;
}

:focus{outline: none}



#menu
{   background: #272932;
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    max-height: 118px;
}
#menu1
{   width: 25%;
    display: flex;
    flex-direction: row;
    outline: none;
    justify-content: space-between;
}
#memes
{   font-family: 'Press Start 2P', cursive;
    color: #FF5B4F;
    vertical-align: middle;
    outline: none;
    font-size: 2em;
}
#log
{
    background: #F05D5E;;
    border-radius: 10px;
    padding: 1vh;
    font-family: 'Press Start 2P', cursive;
}
#sing
{
    background: #F05D5E;;
    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    outline: none;
}
/***********************************************When Logged in  *************************************/
#menu2
{   width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: none;
}
#hot:hover

{   background:  #0fbabc;

    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;
}
#hot

{   background: #F05D5E;
    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;
    font-size: 1vw;
}
#perfil:hover
{
    background:  #0fbabc;

    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;
}
#perfil
{
    background: #F05D5E;
    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;
    font-size: 1vw;
}
   #sair:hover
   {background: #0fbabc;
    padding: 1vh;
   color: #F05D5E;
       color: black;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;

}

#sair
{
    background: #F05D5E;
    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;
    font-size: 1vw;
}
#search input
{   width: 100%;
    font-family: 'Press Start 2P', cursive;
    padding: 1vh;
    border-radius:10px;
    border: none;
    text-align: center;
    outline: none;

}
#menu-mobile-top
{
    display: none;
}
#menu-mobile-bottom
{
    display: none;
}
:focus
{
    outline: none;
}
#error
{
    color: #b31d17;
    outline: #36FF89;
    font-family: 'Merriweather Sans', sans-serif;

}

/*********************** screen 812 or less **********************/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
{
    #menu{display: none;}
    #menu-mobile
    {
        grid-area: menu;
    }

    #menu-mobile-top
    {
        background: #272932;
        grid-area: menu;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #mobile-search
    {

    }
    #menu-mobile-top > #burguer>div
    {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
     #menu-mobile-bottom
     {   min-height: 30vh;
         background-color: #272932;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
     }
    #hot-mobile
    {   width: 60%;
        background-color: #F05D5E;
        font-family: 'Press Start 2P', cursive;
        font-size: 3vw;
        text-align: center;
        min-height: 4vh;
        border-radius: 10px;
    }
    #perfil-mobile
    {   text-align: center;
        font-family: 'Press Start 2P', cursive;
        width: 60%;
        min-height: 4vh;
        border-radius: 10px;
        background-color: #F05D5E;
        font-size:3vw;
    }
    #sair-mobile
    {   width: 60%;
        font-family: 'Press Start 2P', cursive;
        background-color: #F05D5E;
        text-align: center;
        min-height: 4vh;
        border-radius: 10px;
        font-size: 3vw;
    }
   #magnifier
   {
       fill: #ffffff;
   }
}

