*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}
a
{
    text-decoration: none;
    outline: none;
    color: #ffffff;
    outline: none;
}

:focus{outline: none}



#menu
{   background: #00232E;
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    max-height: 118px;
}
#menu1
{   width: 25%;
    display: flex;
    flex-direction: row;
    outline: none;
    justify-content: space-between;
}
#memes
{   font-family: 'Press Start 2P', cursive;
    color: #FF5B4F;
    vertical-align: middle;
    outline: none;
    font-size: 2em;
}
#log
{
    background: linear-gradient(180deg, #02B34B 0%, #36FF89 100%);
    border-radius: 10px;
    padding: 1vh;
    font-family: 'Press Start 2P', cursive;
}
#sing
{
    background: linear-gradient(180deg, #02B34B 0%, #36FF89 100%);
    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    outline: none;
}
/***********************************************When Logged in*************************************/
#menu2
{   width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: none;
}
#hot:hover

{   background:  #36FF89;

    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;
}
#hot

{   background: linear-gradient(180deg, #02B34B 0%, #36FF89 100%);
    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;
}
#perfil:hover
{
    background:  #36FF89;

    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;
}
#perfil
{
    background: linear-gradient(180deg, #02B34B 0%, #36FF89 100%);
    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;
}
   #sair:hover
   {background: #FF5B4F;
    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;

}
#sair
{
    background: linear-gradient(180deg, #02B34B 0%, #36FF89 100%);
    padding: 1vh;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    outline: none;
}
#search input
{
    font-family: 'Press Start 2P', cursive;
    padding: 1vh;
    border-radius:10px;
    border: none;
    text-align: center;
    outline: none;

}
:focus
{
    outline: none;
}
#error
{
    color: #b31d17;
    outline: #36FF89;
    font-family: 'Merriweather Sans', sans-serif;

}