

/* I hope this was helpful! */
/* Follow me on Twitter 🐤 @sleumasm to see what I'm up to. */
/* Also check out my other project I'm working on - Ceev.io. A pretty cool online resume creator 📃. */


/* Your animation code is below! 👇👇👇 */


    /*
    @keyframes yourAnimation{
        0%{
            transform: rotate(0) translateX(0vw);
        }
        20%{
            transform: rotate(0) translateX(-20vw);
            opacity: 0.8;
        }
        40%{
            transform: rotate(0) translateX(-40vw);
            opacity: 0.6;
        }
        60%{
            transform: rotate(0) translateX(-60vw);
            opacity: 0.4;
        }
        80%{
            transform: rotate(0) translateX(-80vw);
            opacity: 0.2;
        }
        100%{
            transform: rotate(0) translateX(-100vw);
            opacity: 0;
        }
    }

    .elementToAnimate{
        animation: yourAnimation .7s infinite 0s ease;
    }




    */


#cont {
    height: auto;
    background: #E7ECEF;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(118px, 119px) 1 auto 1fr 1fr;
    grid-template-areas: "menu menu menu menu menu menu menu menu menu menu menu"
    "perfilbox perfilbox perfilbox Poster Poster Poster Poster Poster Poster Poster ."
    ". . . posts posts posts posts posts posts posts ."
    ". . . posts posts posts posts posts posts posts .";
    grid-gap: 10px;

}
#perfil-box
{   font-size: 1vw;
    grid-area: perfilbox;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    border-radius: 6px;
    font-family: 'Press Start 2P';
    max-height: 400px;
    outline: none;
   // box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.25);
    color: #272932;
    border: 1px solid #272932;
    border-radius: 15px;
    margin-left: 1vh;
}
#perfil-userAndPic
{
    font-size: 1.5em;
}
#avatar
{
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#perfil-userAndPic>#avatar
{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#perfil-data
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#meme{
    display: flex;
flex-direction: column;
}
#seguidores
{
    display: flex;
    flex-direction: column;
}
#seguindo
{
    display: flex;
    flex-direction: column;
}
input[type="text" ]
{   margin: 1vh;

    width: 90%;
    border: 1px solid #F05D5E;
    padding: 3vh;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-radius: 15px;
    outline: none;
}

input[type="submit" ]

{  margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;
    width: auto;
    border: none;
    border-radius: 15px;
    background: #0F7173;
    outline: none;
    cursor: pointer;
}
input[type="submit" ]:hover

{  margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;
    width: auto;
    border: none;
    border-radius: 15px;
    background: #0fbabc;
    outline: none;
    cursor: pointer;
}
#poster

{   grid-area: Poster;
    display: flex;
    min-height: 33vh;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    outline: none;
}
#dd
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#user
{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2px;
    margin-right: 3vh;
    margin-top: 1vh;
}

#post
{
    grid-area: posts;
    display: flex;
    flex-direction: column;
}

#post2{
    overflow-wrap: break-word;
    font-size: 1em;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    background: #ffffff;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 3vh;
}
button
{
    background: none;
    border:none;
    outline: none;
}
#content
{   color: #0F7173;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    margin-left: 72px;
    margin-right: 3vh;
    justify-content: space-around;
}
#data
{
    color: #0F7173;
    margin-left: 72px;
}

#interaction
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh;
    margin-left: 62px;
    margin-right: 2vh;
}

#likes
{
    display: flex;
    flex-direction: row;
}

#avatar:hover
{
   border: 2px solid #F05D5E;
}
#but
{   cursor: pointer;
    margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;
    width: 50%;
    border: none;
    border-radius: 15px;
    background: #0F7173;
    outline: none;
}
#numb
{
    color: #ff0042;
}

.commenter
{
    background: #fff;
    box-shadow: 5px 4px 25px rgba(14, 59, 72, 0.25);
    border-radius: 6px;
    max-width: 90%;
    margin-bottom: 1vh;
    margin-left: 2vh;
}

.comments
{
    max-width: 90%;
    background: #E7ECEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 2vh;
    margin-left: 2vh;
}
button, a
{
    cursor: pointer;
}

#postar_btn
{
   float: right;
   margin-bottom: 1vh;
}
/************************mobile*************************/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
{
    #cont {
        height: auto;
        background: #E7ECEF;
        display: grid;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: minmax(118px, 119px) 1 auto 1fr 1fr;
        grid-template-areas: "menu menu menu menu menu menu menu menu menu menu menu"
        "Poster Poster Poster Poster Poster Poster Poster Poster Poster Poster Poster"
        "posts posts posts posts posts posts posts posts posts posts posts"
        "posts posts posts posts posts posts posts posts posts posts posts";


    }
    #perfil-box
    {
        display: none ;
    }
    #poster
    {
        grid-area: Poster;
    }
    #post
    {
        grid-area: posts;
    }

}
