#cont {
    height: auto;
    background: #E7ECEF;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(118px, 119px) 1 auto 1fr 1fr;
    grid-template-areas: "menu menu menu menu menu menu menu menu menu menu menu" "perfilbox perfilbox perfilbox Poster Poster Poster Poster Poster Poster Poster ." ". . . posts posts posts posts posts posts posts ." ". . . posts posts posts posts posts posts posts .";
    grid-gap: 10px;

}
#perfil-box
{
    grid-area: perfilbox;
    background: #fff;
    border-radius: 6px;
    font-family: 'Press Start 2P';
    max-height: 400px;
    outline: none;
   // box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.25);
    color: #272932;
    border: 1px solid #272932;
    border-radius: 15px;
    margin-left: 1vh;
}
input[type="text" ]
{   margin: 1vh;
    height: 100%;
    width: 90%;
    border: 1px solid #F05D5E;
    padding: 3vh;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-radius: 15px;

    outline: none;


}

input[type="submit" ]

{  margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;
    width: auto;
    border: none;
    border-radius: 15px;
    background: #0F7173;
    outline: none;
    cursor: pointer;
}
input[type="submit" ]:hover

{  margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;
    width: auto;
    border: none;
    border-radius: 15px;
    background: #0fbabc;
    outline: none;
    cursor: pointer;
}
#poster

{   grid-area: Poster;
    display: flex;
    min-height: 33vh;
    flex-direction: column;
    justify-items: center;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    outline: none;
}
#user
{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh;

}

#post
{
    grid-area: posts;
    display: flex;
    flex-direction: column;

}

#post2{ overflow-wrap: break-word;
    font-size: 1em;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;

    background: #ffffff;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 2vh;

}
button
{
    background: none;
    border:none;
    outline: none;
}
#content
{ color: #0F7173;
    font-size: 3vh;
    display: flex;
    flex-direction: column;


    justify-content: space-around;


}
#interaction
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
#userAndPic
{

}
#likes
{
    display: flex;
    flex-direction: row;
}
#avatar
    {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#avatar:hover
{
   border: 2px solid #F05D5E;
}
#but
{   cursor: pointer;
    margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;
    width: 50%;
    border: none;
    border-radius: 15px;
    background: linear-gradient(180deg, #02B34B 0%, #36FF89 100%);
    outline: none;

}
#numb
{
    color: #ff0042;
}

.commenter
{

    background: #fff;
    box-shadow: 5px 4px 25px rgba(14, 59, 72, 0.25);
    border-radius: 6px;
    max-width: 90%;
    margin-bottom: 1vh;
    margin-left: 2vh;
}

.comments
{
    max-width: 90%;

    background: #E7ECEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 2vh;
    margin-left: 2vh;
}
button, a
{
    cursor: pointer;
}
