

#cont{

    height: auto;
    min-height: 1vh;
    background: #F3F3F3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(118px, 119px) 1auto 1fr 1fr;
    grid-template-areas: "menu menu menu menu menu menu menu menu menu menu menu"
    "perfilbox perfilbox perfilbox posts posts posts posts posts posts posts ."
    ". . . posts posts posts posts posts posts posts ."
    ". . . posts posts posts posts posts posts posts .";

    grid-gap: 10px;

}
#perfil-box
{
    height: 30vh;
    grid-area: perfilbox;
    background: #ffffff;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    max-height: 400px;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#inf
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input[type="text" i]
{
    margin: 1vh;
    width: 90%;
    padding: 3vh;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-radius: 15px;
    border:none;
    outline: none;
}

input[type="submit" ]

{  margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;
    width: 13%;
    border: none;
    border-radius: 15px;
    background: linear-gradient(180deg, #02B34B 0%, #36FF89 100%);
    outline: none;
}
#poster

{   grid-area: Poster;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: rgba(255, 91, 79, 0.1);
    border-radius: 15px;
}
#user{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh;

}

#post
{
    grid-area: posts;
    display: flex;
    flex-direction: column;

}

#post2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #ffffff;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.25);
    margin-bottom: 2vh;
}
button
{
    background: none;
    border:none;
    outline: none;
}

#unfollow:hover
{
    margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;

    border: none;
    border-radius: 15px;
    background: linear-gradient(180deg, #b31d17 0%, #ff09f7 100%);
    outline: none;
}
#unfollow
{
    margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;

    border: none;
    border-radius: 15px;
    background: linear-gradient(180deg, #02B34B 0%, #36FF89 100%);
    outline: none;
}
#follow:hover
{
    margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;
    border: solid #36FF89;
    border: none;
    border-radius: 15px;
    background: #36FF89;
    outline: none;
}
#follow
{   margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;

    border: none;
    border-radius: 15px;
    background: linear-gradient(180deg, #02B34B 0%, #36FF89 100%);
    outline: none;

}
#content
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1vh;
}
#interaction
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh;
}
#likes
{
    display: flex;
    flex-direction: row;
}
#avatar
{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
body
{
    background: #F3F3F3;
}
.comments
{
    max-width: 90%;
    border-radius: 5px;
    background: #F5F0FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 2vh;
    margin-left: 2vh;
}

.commenter
{

    background: #DECFCE;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    max-width: 90%;
    margin-bottom: 1vh;
    margin-left: 2vh;
}
button, a
{
    cursor: pointer;
}