

#cont{

    height: auto;
    min-height: 1vh;
    background: #F3F3F3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(118px, 119px) 1auto 1fr 1fr;
    grid-template-areas: "menu menu menu menu menu menu menu menu menu menu menu"
    "perfilbox perfilbox perfilbox posts posts posts posts posts posts posts  ."
    ". . . posts posts posts posts posts posts posts ."
    ". . . posts posts posts posts posts posts posts .";
    grid-gap: 10px;

}
#but
{   cursor: pointer;
    margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;
    width: 50%;
    border: none;
    border-radius: 15px;
    background: #0F7173;
    outline: none;

}
#perfil-box
{
    font-size: 1vw;
    grid-area: perfilbox;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    border-radius: 6px;
    font-family: 'Press Start 2P';
    max-height: 400px;
    outline: none;
// box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.25);
    color: #272932;
    border: 1px solid #272932;
    border-radius: 15px;
    margin-left: 1vh;
}
#perfil-data
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#meme{
    display: flex;
    flex-direction: column;
}
#seguidores
{
    display: flex;
    flex-direction: column;
}
#seguindo
{
    display: flex;
    flex-direction: column;
}
#inf
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input[type="text" i]
{
    margin: 1vh;
    height: 100%;
    width: 90%;
    border: 1px solid #F05D5E;
    padding: 3vh;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-radius: 15px;

    outline: none;

}

input[type="submit" ]

{  margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;
    width: 13%;
    border: none;
    border-radius: 15px;
    background: #0F7173;
    outline: none;
}
#poster

{   grid-area: Poster;
    display: flex;
    min-height: 33vh;
    flex-direction: column;
    justify-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    outline: none;
}
#user{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh;

}

#post
{
    grid-area: posts;
    display: flex;
    flex-direction: column;

}

#post2{ overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #ffffff;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.25);
    margin-bottom: 2vh;
}
button
{
    background: none;
    border:none;
    outline: none;
}

#unfollow:hover
{
    margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;

    border: none;
    border-radius: 15px;
    background: linear-gradient(180deg, #b31d17 0%, #ff09f7 100%);
    outline: none;
}
#unfollow
{
    margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;

    border: none;
    border-radius: 15px;
    background: #0F7173;
    outline: none;
}
#follow:hover
{
    margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;
    border: solid #36FF89;
    border: none;
    border-radius: 15px;
    background: #36FF89;
    outline: none;
}
#follow
{   margin: 1vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1vh;

    border: none;
    border-radius: 15px;
    background: #0F7173;
    outline: none;

}
#content
{
    color: #0F7173;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    margin-left: 72px;
    margin-right: 3vh;
    justify-content: space-around;
}
#interaction
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh;
    margin-left: 62px;
    margin-right: 2vh;
}

#data
{
    color: #0F7173;
    margin-left: 72px;
}
#likes
{
    display: flex;
    flex-direction: row;
}
#avatar
{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
body
{
    background: #F3F3F3;
}
.comments
{
    max-width: 90%;
    border-radius: 5px;
    background: #F5F0FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 2vh;
    margin-left: 2vh;
}

.commenter
{

    background: #DECFCE;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    max-width: 90%;
    margin-bottom: 1vh;
    margin-left: 2vh;
}
button, a
{
    cursor: pointer;
}

/************************mobile*************************/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
{


    #cont{

         height: auto;
         min-height: 1vh;
         background: #F3F3F3;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
         grid-template-rows: minmax(118px, 119px) 1auto 1fr 1fr;
         grid-template-areas: "menu menu menu menu menu menu menu menu menu menu menu"
         "perfilbox perfilbox perfilbox perfilbox perfilbox perfilbox perfilbox perfilbox perfilbox perfilbox  perfilbox"
         "Poster Poster Poster Poster Poster Poster Poster Poster Poster Poster Poster"
         "posts posts posts posts posts posts posts posts posts posts posts";


     }
    #perfil-box
    {
        background-color: #272932;
        color: #F5F0FC;
        min-height: 20vh;
        margin-left: 0;
        font-size: 3vw;
    }





}